@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

body {
  background-color: #fff;
  font-family: "microsoft yahei";
}

a {
  color: #333;
  text-decoration: none !important;
}
a:hover {
  color: #f55 !important;
}

.clear {
	clear:both;
	width:0px;
	height: 0px;
	margin: 0;
	padding: 0;
}

.width_1200_body {
	width: 1200px; margin: 0px auto;
}

.highest_head {
	height: 50px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); font-size: 16px;
	font-family: "microsoft yahei","微软雅黑";
}

.highest_head .width_1200_body {
	line-height: 50px; text-align: right;
}

/* 菜单栏目 */
.head_menu {
	height: 120px;
}

.head_menu .logo {
	float: left;
	margin-top: 40px;
}

.head_menu .menu_list {
	float: right;
	margin-top: 50px;
}

.head_menu .menu_list li {
	font-size: 14px;
	color: #333333;
	float: left;
	margin: 0 0 0 40px;
	padding: 0;
	line-height: 14px;
	font-family: "microsoft yahei","微软雅黑";
}

/* banner */
.banner {
	height: 560px;
	width: 100%;
	margin-bottom: 60px;
}

/* 首页新闻 */
.home_news h2 {
	font-size: 36px; text-align: center; color: rgb(51, 51, 51);
}

.home_news h3 {
	font-size: 20px; color: rgb(51, 51, 51); text-align: center; margin: 20px 0px 60px;
}





















